@import url('bootstrap/dist/css/bootstrap.min.css');
@import url('bootstrap-icons/font/bootstrap-icons.css');
/*
Si uso el * significa que los estilos se aplicarán a todo elemento existente en el documento
*/
*{
    margin: 0;
    padding: 0;
}
/*
Selecciono la clase ul-social-list
*/
.ul-social-list{
    /*
    De la clase previamente seleccionada, ahora selecciono su LI hijo
    al LI hijo que detecte que tenga el mouse encima de el, se le aplicarán los siguientes estilos
    */
    li:hover{
        /*
        Seleccionaremos los campos con clase edit-field
        */
        .edit-field{
            /*
            De dichos campos, cambiaremos el display a block
            */
            display: block;
        }
    }
    /*
    Mientras el LI no detecte el mouse encima de sí mismo, los elementos con clase edit-field ocultarán su contenido con "display: none"
    */
    .edit-field{
        display: none;
    }
}